/* app css stylesheet */

body {
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
}

.quote-card {
  padding:  15px 30px;
  box-shadow: 2px 3px 4px #ccc;
  margin: 20px;
}

h1 {
  font-weight: 200;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: 'OpenSans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  font-size: 45px;
}

.abbreviation {
  font-size: 15px;
  display: inline-block;
  position: relative;
  top: -5px;
}

.abbreviation span {
  display: block;
  font-size: 12px;
  line-height: 8px;
}

.abbreviation img {
  width: 30px;
}

.sec-row {
  font-weight: 200;
  display: inline-block;
}

.sec-row div {
  display: inline-block;

}

.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.separator {
  border-left: 1px solid #333;
  height: 90px;
  display: inline-block;
  top: 15px;
  position: relative;
  margin-left: 15px;
  margin-right:15px;
}

.value {
  font-size: 70px;
}

.min-qtd {
  font-size: 20px;
  text-align: right;
}

.min-qtd .qtd {
  font-size: 40px;
  line-height: 25px;
}

.value-cur {
  font-size: 15px;
  position: relative;
  top: -30px;
  margin-right: 3px;
}

.value-number {

}

input[type="text"] {
  font-size: 40px;
  height: auto;
  font-weight: 300;
  padding: 20px;
  transition: background-color 2.5s linear;
}

button.button {
  font-size: 35px;
}

.form-line {
  text-align: center;
}

.button[disabled].success {
  color: #FFF;
}
