/* app css stylesheet */

.body {
  font-family: 'Roboto'; 
}

.inblock {
  display: inline-block;
}

.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  font-family: 'Roboto';
}

.quote {
  padding:  10px 15px;
  box-shadow: 2px 3px 4px #ccc;
  margin: 15px;
}

.header.header-big {
  font-weight: 200;
  font-size: 40px;
  text-align: center;
}

.header.header-med  {
  font-family: 'OpenSans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
}

.abbreviation { 
  position: relative;
  top: -5px;
}

.abbreviation .abbreviation-symbol {
  display: block;
  font-size: 8px;
  line-height: 8px;
}

.abbreviation .abbreviation-img {
  width: 30px;
}

.values {
  font-weight: 200; 
}

.values .min {
  font-size: 16px;
  text-align: right;
}

.values .min-value {
  font-size: 30px;
  line-height: 20px;
}

.values .separator {
  border-left: 1px solid #333;
  height: 45px;
  
  top: 10px;
  position: relative;
  margin-left: 10px;
  margin-right:10px;
}

.values .unitary {
  font-size: 40px;
}

.values .unitary-cur {
  font-size: 12px;
  position: relative;
  top: -30px;
  margin-right: 3px;
}

.values .unitary-number {

}

.newsletter .newsletter-input {
  font-size: 35px;
  height: auto;
  font-weight: 300;
  padding: 20px;
}

.newsletter .newsletter-button {
  font-size: 30px;
}

.newsletter-row {
  text-align: center;
}

/*-------------------------------------------------*/
@media(min-width: 768px) {
  .header.header-big {
    font-size: 60px;
  }
  
  .header.header-med {
     font-size: 45px;
  }
  
  .quote {
    padding:  15px 30px;
    box-shadow: 2px 3px 4px #ccc;
    margin: 20px;
  }
  
  .abbreviation {
    font-size: 12px;
  }
  
  .values .unitary {
    font-size: 70px;
  }
  
  .values .min {
    font-size: 20px;
  }

  .values .min-value {
    font-size: 40px;
    line-height: 25px;
  }
  
  .values .separator {
    height: 80px;
    top: 15px;
    margin-left: 15px;
    margin-right:15px;
  }

  .values .unitary-cur {
    font-size: 15px;
    top: -30px;
    margin-right: 3px;
  }
  
  .newsletter .newsletter-input {
    font-size: 60px;
  }
  .newsletter .newsletter-button {
    font-size: 35px;
  }
  
  .newsletter .newsletter-button.success {
    color: #FFF;
  }
 

}
/*-------------------------------------------------*/
