<div class="row" >
  <div class="large-6 columns">
    <div class="center-text">
      <h1 class="header big inblock">Últimas cotações</h1> 
      <div class="loading inblock" ng-if="refreshing">
        <div class="cssload-container">
        <div class="cssload-whirlpool"></div>
      </div>
      </div>  
    </div>
    
    
    <div class="quote" ng-repeat="quote in listQuotes" ng-model="quote" >
      
      <div>
        <h2 class="header med inblock">{{ quote.currencyObj.name.split(' ')[0] }}</h2>
        <div class="abbreviation inblock">
          <span class="symbol">[{{quote.currencyObj.abbreviation}}]</span>
          <img src="{{quote.currencyObj.full_flag_image}}" class="img" />
        </div>
      </div>

      <div class="values center inblock">
        <div class="min inblock">
          <span>qtd. mínima:</span><br />
          <span class="value">{{ ctrl.formatInt(quote.quantity) }}</span>
        </div>
        <div class="separator inblock"></div>
        <div class="unitary inblock">
          <span class="number"><span class="cur">R$</span>{{ ctrl.formatCurrency(quote.total_value / quote.quantity) }}</span>
        </div>
      </div>


    </div>
  </div>
  <div class="large-6 columns">

    <h1  class="header big">Receba por e-mail</h1>
    <form name="form" class="newsletter" novalidate ng-submit="ctrl.register()">
      <label for="Nome">Seu nome:</label>
      <input type="text" class="input" name="Nome" ng-model="ctrl.user.name" required/>
      <label for="email">E-mail:</label>
      <input type="text" class="input" name="email" ng-model="ctrl.user.email" placeholder="ex: jose@mail.com" required/>

      <div class="row center-text">
        <button class="button" type="submit" ng-class="{ 'success': success != undefined }" ng-disabled="success != undefined">{{buttonText}}</button>
      </div>
      <ul ng-if="form.email.$dirty" ng-messages="form.Email.$error">
          <li ng-message="required">Campo obrigatório</li>
          <li ng-message="email">Formato inválido</li>
          <li ng-message="success">E-mail cadastrado com sucesso</li>
      </ul>
    </form>
    

  </div>

</div>
